<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Sengaja TIDAK diminta: RECEIVE_SMS/READ_SMS (fitur SMS dihapus karena izin SMS dibatasi
         Google Play), serta FOREGROUND_SERVICE*, RECEIVE_BOOT_COMPLETED, WAKE_LOCK, dan
         POST_NOTIFICATIONS. NotificationListenerService di-bind sistem dan otomatis tersambung
         lagi setelah reboot, jadi tidak butuh foreground service atau boot receiver. -->
    
    <!-- Notification listener permission -->
    <!-- This is a protected permission, but users can grant it through Settings > Apps > Special access > Notification access -->
    <!-- This is the standard way for legitimate notification management apps to access notifications -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" 
        tools:ignore="ProtectedPermissions" />
    
    <!-- PACKAGE_USAGE_STATS dan QUERY_ALL_PACKAGES sengaja TIDAK diminta: keduanya bukan
         fungsi inti dan ditolak kebijakan Google Play untuk kasus app picker. Daftar aplikasi
         untuk picker diambil dari <queries> di bawah (aplikasi ber-launcher + paket populer). -->

    <!-- Package visibility queries for Android 11+ (API 30+) -->
    <queries>
        <!-- Query for all apps that can receive notifications -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        
        <!-- Query for messaging apps -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
        
        <!-- Query for apps that handle notifications -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" />
        </intent>
        
        <!-- Specific popular apps for better compatibility -->
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.orca" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.twitter.android" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.slack" />
        <package android:name="com.discord" />
        <package android:name="com.skype.raider" />
        <package android:name="com.viber.voip" />
        <package android:name="com.google.android.talk" />
        <package android:name="com.microsoft.teams" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.pinterest" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.spotify.music" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="com.paypal.android.p2pmobile" />
        <package android:name="com.ubercab" />
        <package android:name="com.airbnb.android" />
    </queries>

    <application
        android:name=".NGatewayApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NGateway"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NGateway">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Notification Router Service -->
        <service
            android:name=".data.service.NotifRouterService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>